{% extends 'home/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h1>Employee Information</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ employees.name }}</h5>
            <p class="card-text">Employee ID: {{ employees.employee_id }}</p>
            <p class="card-text">Department: {{ employees.department }}</p>
            <p class="card-text">Floor: {{ employees.floor }}</p>
            <p class="card-text">Position: {{ employees.position }}</p>
            <p class="card-text">Salary: {{ employees.salary }}</p>
            
    </div>

    {% endblock %}